
<div class="row">
    
    <div *ngFor="let im of imageObject">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <mat-card class="example-card">
                   <mat-card-content>
                   <img mat-card-image  height="250px" [src]="im.url">
                    </mat-card-content>  <br>

                  <b>  {{im.Name}}</b>
                    <mat-card-actions>
                      <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span>
                        <a [href]="im.downloadLink" style="float:right;" mat-button><mat-icon>get_app</mat-icon></a>
                    </mat-card-actions> 
                    
                  </mat-card>
            </div>

    </div>

</div>